<template>
  <v-app id="app">
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      fixed
      app
      v-if="isLogin"
    >
      <v-list dense>
        <template v-for="item in items">
          <v-layout v-if="item.heading" :key="item.heading" row align-center>
            <v-flex xs6>
              <v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <v-list-group
            v-else-if="item.children"
            :key="item.text"
            v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon
          >
            <template v-slot:activator>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
            <v-list-tile
              v-for="(child, i) in item.children"
              :key="i"
              @click="goTo(item.route, $event)"
            >
              <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ child.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
          <v-divider v-else-if="item.divider" :key="item.text"></v-divider>
          <v-list-tile v-else :key="item.text" @click="goTo(item.route, $event)">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.text }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="blue darken-2"
      dark
      app
      fixed
      v-if="isLogin"
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span>PT. InduComp Dewata</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon large>
        <v-avatar size="32px" tile>
          <img src="https://cdn.vuetifyjs.com/images/logos/logo.svg" alt="Vuetify">
        </v-avatar>
      </v-btn>
    </v-toolbar>
    <v-content v-if="isLogin">
      <router-view/>
    </v-content>
    <v-content v-else>
      <Login v-on:login="login"/>
    </v-content>
  </v-app>
</template>

<script>
import {router} from "./router";
import Login from "./components/Login";

export default {
  data() {
    return {
      dialog: false,
      drawer: null,
      items: [
        { icon: "people", text: "Karyawan", route: "/" },
        { icon: "timer", text: "Kehadiran", route: "/attendance" },
        { icon: "event_note", text: "Cuti & Hari Libur", route: "/leave" },
        /*{
            icon: 'keyboard_arrow_up',
            'icon-alt': 'keyboard_arrow_down',
            text: 'Labels',
            model: true,
            children: [
              { icon: 'add', text: 'Create label' }
            ]
          },
          {
            icon: 'keyboard_arrow_up',
            'icon-alt': 'keyboard_arrow_down',
            text: 'More',
            model: false,
            children: [
              { text: 'Import' },
              { text: 'Export' },
              { text: 'Print' },
              { text: 'Undo changes' },
              { text: 'Other contacts' }
            ]
          },*/
        { icon: "assessment", text: "Evaluasi", route: "/assessment" },
        { icon: "local_atm", text: "Gaji", route: "/salary" },
        { divider: "1" },
        { icon: "settings", text: "Settings" },
        { icon: "help", text: "Help", route: "/help" },
        { icon: "logout", text: "Logout", route: "/logout" }
      ]
    };
  },
  computed: {
    isLogin() {
      return this.$store.state.authentication.status.loggedIn;
    }
  },
  components: {
    Login
  },
  methods: {
    login: function() {
      this.isLogin = true;
    },
    goTo: function(route, event) {
      if (route === "/logout") {
        this.logout();
        return;
      }

      router.push(route);
    },
    logout: function (){
      const { commit } = this.$store;
      commit("authentication/logout");
    }
  }
};
</script>