<template>
  <AssessmentDataTable />
</template>

<script>
  import AssessmentDataTable from '../components/AssessmentDataTable.vue';

  export default {
    components: {
      AssessmentDataTable,
    },
  };
</script>