<template>
  <AttendanceDataTable />
</template>

<script>
  import AttendanceDataTable from '../components/AttendanceDataTable.vue';

  export default {
    components: {
      AttendanceDataTable,
    },
  };
</script>