<template>
  <EmployeeDataTable />
</template>

<script>
  import EmployeeDataTable from '../components/EmployeeDataTable.vue';

  export default {
    components: {
      EmployeeDataTable,
    },
  };
</script>
