<template>
  <div style="margin: 10px">
    <v-toolbar flat color="blue lighten-2" light tabs>
      <v-toolbar-title>Cuti &amp; Hari Libur</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn flat v-on="on" @click="prev">
            <v-icon>keyboard_arrow_left</v-icon>
          </v-btn>
        </template>
        <span>Bulan Sebelumnya</span>
      </v-tooltip>
      <h2 v-if="currentTab === 'tab-Kalender'">{{monthYearString}}</h2>
      <h2 v-else>{{yearString}}</h2>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn flat v-on="on" @click="next">
            <v-icon>keyboard_arrow_right</v-icon>
          </v-btn>
        </template>
        <span>Bulan Selanjutnya</span>
      </v-tooltip>
      <v-spacer></v-spacer>
      <v-btn-toggle>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn flat v-on="on" @click="addPublicHolidayDialog = true">
              <v-icon>beach_access</v-icon>
            </v-btn>
          </template>
          <span>Tambah Hari Libur</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn flat v-on="on" @click="addLeaveDialog = true">
              <v-icon>directions_run</v-icon>
            </v-btn>
          </template>
          <span>Tambah Cuti</span>
        </v-tooltip>
      </v-btn-toggle>
      <v-dialog v-model="addLeaveDialog" max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Tambah Cuti</span>
          </v-card-title>
          <v-card-text>
            <v-text-field label="Id Karyawan" prepend-icon="vpn_key"></v-text-field>
            <v-text-field label="Nama Karyawan" prepend-icon="person"></v-text-field>
            <v-select :items="leaves" label="Jenis Cuti" prepend-icon="art_track"/>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-menu
                    ref="startDateMenu"
                    v-model="startDateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="startDate"
                    transition="scale-transition"
                    min-width="230px"
                    lazy
                    offset-y
                    full-width
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="startDate"
                        label="Mulai Cuti"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="startDate" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="startDateMenu = false">Batal</v-btn>
                      <v-btn color="primary" @click="$refs.startDateMenu.save(startDate)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-menu
                    ref="endDateMenu"
                    v-model="endDateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="endDate"
                    transition="scale-transition"
                    min-width="230px"
                    lazy
                    offset-y
                    full-width
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="endDate"
                        label="Sampai dengan"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="endDate" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="endDateMenu = false">Batal</v-btn>
                      <v-btn color="primary" @click="$refs.endDateMenu.save(endDate)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="addLeaveDialog = false">Batal</v-btn>
            <v-btn color="blue darken-1" @click="addLeaveDialog = false">Tambah</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="addPublicHolidayDialog" max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Tambah Hari Libur</span>
          </v-card-title>
          <v-card-text>
            <v-menu
              ref="holidayDateMenu"
              v-model="holidayDateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="holidayDate"
              transition="scale-transition"
              min-width="230px"
              lazy
              offset-y
              full-width
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="holidayDate"
                  label="Tanggal Libur"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="holidayDate" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="holidayDateMenu = false">Batal</v-btn>
                <v-btn color="primary" @click="$refs.holidayDateMenu.save(holidayDate)">OK</v-btn>
              </v-date-picker>
            </v-menu>
            <v-textarea solo label="Keterangan Libur"></v-textarea>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="addPublicHolidayDialog = false">Batal</v-btn>
            <v-btn color="blue darken-1" @click="addPublicHolidayDialog = false">Tambah</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <template v-slot:extension>
        <v-tabs v-model="currentTab" color="transparent" fixed-tabs slider-color="yellow">
          <v-tab
            v-for="item in tabs"
            :key="item"
            :href="'#tab-' + item"
          >{{ item.replace('-', ' ').replace('-', ' ') }}</v-tab>
          <v-spacer></v-spacer>
        </v-tabs>
      </template>
    </v-toolbar>
    <HolidayCalendar v-if="currentTab === 'tab-Kalender'" ref="calendar" v-bind:start="start" v-bind:end="end" v-bind:events="events"/>
    <LeaveDataTable v-if="currentTab === 'tab-Tabel-Cuti'" v-bind:leaves="leaves" />
    <HolidayDataTable v-if="currentTab === 'tab-Tabel-Hari-Libur'" v-bind:holidays="holidays" />
  </div>
</template>
<script>
import HolidayCalendar from '../components/HolidayCalendar.vue';
import HolidayDataTable from '../components/HolidayDataTable.vue';
import LeaveDataTable from '../components/LeaveDataTable.vue';

function firstDateOfTheMonth() {
  const today = new Date();
  const dd = String(today.getDate()).padStart(2, '0');
  const mm = String(today.getMonth() + 1).padStart(2, '0');
  const yyyy = today.getFullYear();

  return yyyy + '-' + mm + '-01';
}
export default {
  data: () => ({
    currentTab: 'tab-Kalender',
    tabs: ['Kalender', 'Tabel-Cuti', 'Tabel-Hari-Libur'],
    start: firstDateOfTheMonth(),
    leaves: ['Annual Leave(A/L)', 'Unpaid Leave(UPL)', 'Maternity Leave(MTL)'],
    startDate: '',
    startDateMenu: false,
    endDate: '',
    endDateMenu: false,
    holidayDate: '',
    holidayDateMenu: false,
    addLeaveDialog: false,
    addPublicHolidayDialog: false,
    end: '',
    holidays: [
      {
        title: 'Libur Nasional',
        details: 'Isra Miraj Nabi Muhammad SAW',
        date: '2019-04-03',
        cssClass: 'holiday',
      },
      {
        title: 'Libur Nasional',
        details: 'Pemilihan Umum 2019',
        date: '2019-04-17',
        cssClass: 'holiday',
      },
      {
        title: 'Libur Nasional',
        details: 'Wafatnya Yesus Kristus',
        date: '2019-04-19',
        cssClass: 'holiday',
      },
      {
        title: 'Libur Nasional',
        details: 'Hari Buruh Internasional',
        date: '2019-05-01',
        cssClass: 'holiday',
      },
    ],
    leaves: [
      {
        Id: 'IDC010101',
        Name: 'Karyawan 1',
        DefaultLeaveAnnually: 12,
        ProvidedLeave: 12,
        leaves: [
          {
            title: 'Karyawan 1(a/l)',
            type: 'a/l',
            date: '2019-04-18',
            details: 'Persiapan Paskah',
          },
          {
            title: 'Karyawan 1(a/l)',
            type: 'a/l',
            date: '2019-02-18',
            details: 'Persiapan Paskah',
          },
          {
            title: 'Karyawan 1(a/l)',
            type: 'a/l',
            date: '2019-05-18',
            details: 'Persiapan Paskah',
          },
          {
            title: 'Karyawan 1(a/l)',
            type: 'a/l',
            date: '2019-04-22',
            details: 'Persiapan Paskah',
          },
        ],
      },
      {
        Id: 'IDC010102',
        Name: 'Karyawan 2',
        DefaultLeaveAnnually: 12,
        ProvidedLeave: 12,
        leaves: [
          {
            title: 'Karyawan 2(a/l)',
            type: 'a/l',
            date: '2019-04-18',
            details: 'Libur suka suka, waktunya libur panjang',
          },
          {
            title: 'Karyawan 2(a/l)',
            type: 'a/l',
            date: '2019-04-22',
            details: 'Libur suka suka, waktunya libur panjang',
          },
          {
            title: 'Karyawan 2(a/l)',
            type: 'a/l',
            date: '2019-04-23',
            details: 'Libur suka suka, waktunya libur panjang',
          },
          {
            title: 'Karyawan 2(a/l)',
            type: 'a/l',
            date: '2019-04-24',
            details: 'Libur suka suka, waktunya libur panjang',
          },
        ],
      },
    ],
  }),
  components: {
    HolidayCalendar,
    HolidayDataTable,
    LeaveDataTable,
  },
  computed: {
    // convert the list of events into a map of lists keyed by date
    eventsMap() {
      const map = {};
      this.events.forEach((e) => (map[e.date] = map[e.date] || []).push(e));
      return map;
    },
    monthYearString() {
      const months = [
        'Januari',
        'Februari',
        'Maret',
        'April',
        'Mei',
        'Juni',
        'Juli',
        'Agustus',
        'September',
        'Oktober',
        'November',
        'Desember',
      ];
      const date = new Date(this.start);
      return months[date.getMonth()] + ' ' + date.getFullYear();
    },
    yearString() {
      const date = new Date(this.start);
      return date.getFullYear();
    },
    events() {
      let list =  [].concat([], this.holidays);
      this.leaves.forEach((item) => {
        list = list.concat(item.leaves);
      });

      return list;
    },
  },
  methods: {
    open(event) {
      alert(event.title);
    },
    next() {
      if (this.currentTab === 'tab-Kalender') {
        this.changeStartDate(0, 1, 0);
      } else {
        this.nextYear();
      }
    },
    prev() {
      if (this.currentTab === 'tab-Kalender') {
        this.changeStartDate(0, -1, 0);
      } else {
        this.prevYear();
      }
    },
    nextYear() {
      this.changeStartDate(1, 0, 0);
    },
    prevYear() {
      this.changeStartDate(-1, 0, 0);
    },
    changeStartDate(yearFactor, monthFactor, dayFactor) {
      let date = new Date();
      if (this.start) {
        date = new Date(this.start);
      }

      date.setDate(date.getDate() + dayFactor);
      date.setMonth(date.getMonth() + monthFactor);
      date.setFullYear(date.getFullYear() + yearFactor);

      const dd = String(date.getDate()).padStart(2, '0');
      const mm = String(date.getMonth() + 1).padStart(2, '0');

      this.start = date.getFullYear() + '-' + mm + '-' + dd;
    },
  },
};
</script>
<style lang="scss" scoped>
.my-event {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  background-color: #1867c0;
  color: #ffffff;
  border: 1px solid #1867c0;
  width: 100%;
  font-size: 12px;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 1px;
  &.holiday{
    background-color : #ff0000;
    border: 1px solid #ff0000;
  }
}
</style>