<template>
  <SalaryDataTable />
</template>

<script>
  import SalaryDataTable from '../components/SalaryDataTable.vue';

  export default {
    components: {
      SalaryDataTable,
    },
  };
</script>