<template>
  <div style="margin: 10px">
    <v-toolbar flat color="blue lighten-2" light tabs>
      <v-toolbar-title>Evaluasi Karyawan</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn flat v-on="on">
            <v-icon>keyboard_arrow_left</v-icon>
          </v-btn>
        </template>
        <span>Bulan Sebelumnya</span>
      </v-tooltip>
      <h2>{{monthYearString()}}</h2>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn flat v-on="on">
            <v-icon>keyboard_arrow_right</v-icon>
          </v-btn>
        </template>
        <span>Bulan Selanjutnya</span>
      </v-tooltip>
      <v-spacer></v-spacer>
      <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-dialog v-model="employeeDialog" max-width="600px">
        <v-card style="padding: 0px 35px">
          <v-card-title>
            <span class="headline">Evaluasi {{editedItem.Name}}({{editedItem.Id}})</span>
          </v-card-title>
          <v-card-text>
            <span>Productivity</span>
            <v-slider
              v-model="editedItem.Productivity"
              :tick-labels="sliders"
              :max="5"
              ticks="always"
              tick-size="2"
            ></v-slider>
            <span>Quality</span>
            <v-slider
              v-model="editedItem.Quality"
              :tick-labels="sliders"
              :max="5"
              ticks="always"
              tick-size="2"
            ></v-slider>
            <span>Work Habbit</span>
            <v-slider
              v-model="editedItem.WorkHabbit"
              :tick-labels="sliders"
              :max="5"
              ticks="always"
              tick-size="2"
            ></v-slider>
            <span>Attitude</span>
            <v-slider
              v-model="editedItem.Attitude"
              :tick-labels="sliders"
              :max="5"
              ticks="always"
              tick-size="2"
            ></v-slider>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close" style="margin-bottom: 20px">Batal</v-btn>
            <v-btn color="blue darken-1" @click="save" style="margin-bottom: 20px">Simpan</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="employees"
      :pagination.sync="pagination"
      :search="search"
      item-key="name"
      class="elevation-1"
    >
      <template slot="headers" slot-scope="props">
        <tr>
          <th
            v-for="header in props.headers"
            :key="header.text"
            :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
            @click="changeSort(header.value)"
          >
            <v-icon small>arrow_upward</v-icon>
            {{ header.text }}
          </th>
        </tr>
      </template>
      <template slot="items" slot-scope="props">
        <tr @click="editItem(props.item)">
          <td>{{ props.item.Id }}</td>
          <td width="250px">{{ props.item.Name }}</td>
          <td width="200px">{{ props.item.Department }}</td>
          <td class="text-xs-center">{{ props.item.Productivity }}</td>
          <td class="text-xs-center">{{ props.item.Quality }}</td>
          <td class="text-xs-center">{{ props.item.WorkHabbit }}</td>
          <td class="text-xs-center">{{ props.item.Attitude }}</td>
          <td class="text-xs-center">{{ props.item.Attendance }}</td>
          <td class="text-xs-center">{{ total(props.item) }}</td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>
<script>
export default {
  data: () => ({
    sliders: [0, 1, 2, 3, 4, 5],
    search: "",
    employeeDialog: false,
    pagination: {
      sortBy: "Name"
    },
    headers: [
      {
        text: "ID Karyawan",
        align: "left",
        value: "Id"
      },
      {
        text: "Nama",
        value: "Name",
        align: "left"
      },
      { text: "Departmen", value: "Department", align: "left" },
      { text: "Productivity", value: "Productivity", align: "left" },
      { text: "Quality", value: "Quality", align: "left" },
      { text: "Work Habbit", value: "WorkHabbit", align: "left" },
      { text: "Attitude", value: "Attitude", align: "left" },
      { text: "Attendance", value: "Attendance", align: "left" },
      { text: "Total", value: "Total", align: "left" }
    ],
    employees: [
      {
        Id: "IDC020101",
        Name: "Karyawan 1",
        Department: "Line I",
        Productivity: 4,
        Quality: 4,
        WorkHabbit: 3,
        Attitude: 3,
        Attendance: 5,
        Total: 25
      },
      {
        Id: "IDC020102",
        Name: "Karyawan 2",
        Department: "Line I",
        Productivity: 4,
        Quality: 4,
        WorkHabbit: 3,
        Attitude: 3,
        Attendance: 5,
        Total: 25
      },
    ],
    editedIndex: -1,
    editedItem: {
      Id: "",
      Name: "",
      Department: "",
      Productivity: 0,
      Quality: 0,
      WorkHabbit: 0,
      Attitude: 0,
      Attendance: 0,
      Total: 0
    },
    defaultItem: {
      Id: "",
      Name: "",
      Department: "",
      Productivity: 0,
      Quality: 0,
      WorkHabbit: 0,
      Attitude: 0,
      Attendance: 0,
      Total: 0
    },
  }),

  watch: {
    dialog(val) {
      //val || this.close();
    }
  },
  methods: {
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
      } else {
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
    editItem(item) {
      this.editedIndex = this.employees.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.employeeDialog = true;
    },
    close() {
      this.employeeDialog = false;
      this.e1 = 1;

      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.employees[this.editedIndex], this.editedItem);
      } else {
        this.employees.push(this.editedItem);
      }
      this.close();
    },
    total: function(item) {
      return (
        item.Productivity +
        item.Quality +
        item.WorkHabbit +
        item.Attitude +
        item.Attendance
      );
    },
    monthYearString: function() {
      var months = [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember"
      ];
      var date = new Date();
      return months[date.getMonth()] + " " + date.getFullYear();
    },
  },
};
</script>
