<template>
  <div style="margin: 10px">
    <v-toolbar flat color="blue lighten-2" light tabs>
      <v-toolbar-title>Data Kehadiran</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn flat v-on="on">
            <v-icon>keyboard_arrow_left</v-icon>
          </v-btn>
        </template>
        <span>Bulan Sebelumnya</span>
      </v-tooltip>
      <h2>{{monthYearString()}}</h2>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn flat v-on="on">
            <v-icon>keyboard_arrow_right</v-icon>
          </v-btn>
        </template>
        <span>Bulan Selanjutnya</span>
      </v-tooltip>
      <v-spacer></v-spacer>
      <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="filteredEmployees"
      :pagination.sync="pagination"
      :search="search"
      :expand="expand"
      item-key="Name"
      class="elevation-1"
    >
      <template slot="headers" slot-scope="props">
        <tr>
          <th
            v-for="header in props.headers"
            :key="header.text"
            :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
            @click="changeSort(header.value)"
          >
            <v-icon small>arrow_upward</v-icon>
            {{ header.text }}
          </th>
        </tr>
        <tr class="grey lighten-3">
          <th v-for="header in props.headers" :key="header.text">
            <v-icon v-if="header.value == 'name'">filter_list</v-icon>
            <div v-if="filters.hasOwnProperty(header.value)">
              <v-select
                flat
                hide-details
                small
                multiple
                clearable
                :items="columnValueList(header.value)"
                v-model="filters[header.value]"
              ></v-select>
            </div>
          </th>
        </tr>
      </template>
      <template v-slot:items="props">
        <tr @click="props.expanded = !props.expanded">
          <td style="min-width: 250px">{{ props.item.Name }}</td>
          <td class="text-xs-center">{{ props.item.upl }}</td>
          <td class="text-xs-center">{{ props.item.mc }}</td>
          <td class="text-xs-center">{{ props.item.al }}</td>
          <td class="text-xs-center">{{ props.item.pl }}</td>
          <td class="text-xs-center">{{ props.item.mtl }}</td>
          <td class="text-xs-center">{{ props.item.half }}</td>
          <td class="text-xs-center">{{ props.item.i }}</td>
          <td class="text-xs-center">{{ props.item.a }}</td>
          <td class="text-xs-center">{{ props.item.late5 }}</td>
          <td class="text-xs-center">{{ props.item.late10 }}</td>
          <td class="text-xs-center">{{ props.item.late15 }}</td>
          <td class="text-xs-center">{{ props.item.reallylate }}</td>
        </tr>
      </template>
      <template v-slot:expand="props">
        <v-card flat>
          <v-card-text v-for="event in props.item.events"><b>{{event.type}}</b>({{event.start}}) - {{event.description}}</v-card-text>
        </v-card>
      </template>
    </v-data-table>
  </div>
</template>
<script>
function today() {
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, "0");
  var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
  var yyyy = today.getFullYear();

  return yyyy + "-" + mm + "-" + dd;
}
export default {
  data: () => ({
    sliders: [0, 1, 2, 3, 4, 5],
    search: "",
    expand: false,
    start: today(),
    pagination: {
      sortBy: "Name"
    },
    filters: {
      upl: [],
      mc: [],
      al: [],
      pl: [],
      mtl: [],
      half: [],
      i: [],
      a: [],
      late5: [],
      late10: [],
      late15: [],
      reallylate: []
    },
    headers: [
      {
        text: "Nama",
        value: "Name",
        align: "left"
      },
      { text: "upl", value: "upl", align: "left" },
      { text: "m/c", value: "mc", align: "left" },
      { text: "a/l", value: "al", align: "left" },
      { text: "p/l", value: "pl", align: "left" },
      { text: "mtl", value: "mtl", align: "left" },
      { text: "1/2", value: "half", align: "left" },
      { text: "I", value: "i", align: "left" },
      { text: "A", value: "a", align: "left" },
      { text: "5 mnt", value: "late5", align: "left" },
      { text: "10 mnt", value: "late10", align: "left" },
      { text: "15 mnt", value: "late15", align: "left" },
      { text: ">15 mnt", value: "reallylate", align: "left" },
    ],
    employees: [
      {
        Id: "IDC020101",
        Name: "Karyawan 1",
        upl: 0,
        mc: 0,
        al: 2,
        pl: 0,
        mtl: 0,
        i: 0,
        a: 0,
        half: 0,
        late5: 0,
        late10: 0,
        late15: 0,
        reallylate: 0,
        events: [
          {type:'a/l', start:'2019-04-01', end: '', description: 'acara sekolah anak'},
          {type:'a/l', start:'2019-04-05', end: '', description: 'jumat ceria'}
        ]
      },
      {
        Id: "IDC020102",
        Name: "Karyawan 2",
        Department: "Line I",
        upl: 0,
        mc: 0,
        al: 0,
        pl: 0,
        mtl: 0,
        i: 0,
        a: 1,
        half: 0,
        late5: 0,
        late10: 0,
        late15: 0,
        reallylate: 0,
        events: [
          {type:'alpha', start:'2019-04-08', end: '', description: 'besoknya baru ketauan dia ketiduran ampe siang'}
        ]
      }
    ]
  }),

  watch: {
    dialog(val) {
      //val || this.close();
    }
  },
  computed: {
    filteredEmployees() {
      return this.employees.filter(d => {
        return Object.keys(this.filters).every(f => {
          return this.filters[f].length < 1 || this.filters[f].includes(d[f]);
        });
      });
    }
  },
  methods: {
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
      } else {
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
    columnValueList(val) {
      return this.employees.map(d => d[val]);
    },
    monthYearString: function() {
      var months = [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember"
      ];
      var date = new Date(this.start);
      return months[date.getMonth()] + " " + date.getFullYear();
    }
  }
};
</script>
