<template>
  <div style="margin: 10px">
    <v-toolbar flat color="blue lighten-2" light tabs>
      <v-toolbar-title>Karyawan</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-dialog v-model="importEmployeeDialog" max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Import Data Karyawan</span>
          </v-card-title>
          <v-card-text>
            <v-text-field
              label="Pilih excel file(*.xslx)"
              @click="pickFile"
              v-model="excelFileName"
              prepend-icon="attach_file"
            ></v-text-field>
            <input
              type="file"
              style="display: none"
              ref="excel"
              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
              @change="onFilePicked"
            >
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="importEmployeeDialog = false">Batal</v-btn>
            <v-btn color="blue darken-1" @click="startUpload">Upload</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="employeeDialog" max-width="600px">
        <v-stepper v-model="e1">
          <v-stepper-header>
            <v-stepper-step :complete="e1 > 1" step="1">Data Karyawan</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 2" step="2">Data Pribadi</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3">Gaji</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-stepper-content step="1">
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                  <v-text-field v-model="editedItem.Name" label="Nama"></v-text-field>
                  <v-text-field v-model="editedItem.Title" label="Title"></v-text-field>
                  <v-text-field v-model="editedItem.Department" label="Departmen"></v-text-field>
                  <v-select :items="sexes" v-model="editedItem.Sex" label="Jenis Kelamin"></v-select>
                  <v-menu
                    ref="joinDateMenu"
                    v-model="joinDateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="editedItem.JoinDate"
                    transition="scale-transition"
                    min-width="230px"
                    lazy
                    offset-y
                    full-width
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="editedItem.JoinDate"
                        label="Tanggal Masuk"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="editedItem.JoinDate" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="joinDateMenu = false">Batal</v-btn>
                      <v-btn
                        color="primary"
                        @click="$refs.joinDateMenu.save(editedItem.JoinDate)"
                      >OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click="close">Batal</v-btn>
                  <v-btn color="blue darken-1" @click="e1++;">Lanjut</v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>
            <v-stepper-content step="2">
              <v-card class="mb-5" color="grey lighten-1" height="200px">
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
              </v-card>
              <v-card>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click="close">Batal</v-btn>
                  <v-btn color="blue darken-1" @click="e1++;">Lanjut</v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>
            <v-stepper-content step="3">
              <v-card class="mb-5" color="grey lighten-1" height="200px">
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
              </v-card>
              <v-card>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click="close">Batal</v-btn>
                  <v-btn color="blue darken-1" @click="save">Simpan</v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-dialog>
      <template v-slot:extension>
        <v-tabs v-model="currentTab" color="transparent" fixed-tabs slider-color="yellow">
          <v-tab
            v-for="item in tabs"
            :key="item"
            :href="'#tab-' + item"
            @click="filters.status = [item]"
          >{{ item.replace('-', ' ') }}</v-tab>
          <v-spacer></v-spacer>
        </v-tabs>
        <v-spacer></v-spacer>
        <v-btn-toggle>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn flat v-on="on">
                <v-icon>open_in_browser</v-icon>
              </v-btn>
            </template>
            <span>Export Excel</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn flat v-on="on" @click="importEmployeeDialog = true">
                <v-icon>input</v-icon>
              </v-btn>
            </template>
            <span>Import Data Pegawai</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn flat v-on="on" @click="employeeDialog = true">
                <v-icon>person_add</v-icon>
              </v-btn>
            </template>
            <span>Tambah Pegawai</span>
          </v-tooltip>
        </v-btn-toggle>
      </template>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="filteredEmployees"
      :pagination.sync="pagination"
      :search="search"
      :loading="loading"
      item-key="name"
      class="elevation-1"
    >
      <template slot="headers" slot-scope="props">
        <tr>
          <th
            v-for="header in props.headers"
            :key="header.text"
            :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
            @click="changeSort(header.value)"
          >
            <v-icon small>arrow_upward</v-icon>
            {{ header.text }}
          </th>
        </tr>
        <tr class="grey lighten-3">
          <th v-for="header in props.headers" :key="header.text">
            <v-icon v-if="header.value == 'id'">filter_list</v-icon>
            <div v-if="filters.hasOwnProperty(header.value)">
              <v-select
                flat
                hide-details
                small
                multiple
                clearable
                :items="columnValueList(header.value)"
                v-model="filters[header.value]"
              ></v-select>
            </div>
          </th>
        </tr>
      </template>
      <template slot="items" slot-scope="props">
        <tr>
          <td width="120px">{{ props.item.employeeId }}</td>
          <td width="250px">{{ props.item.name }}</td>
          <td width="200px">{{ props.item.title }}</td>
          <td>{{ props.item.department }}</td>
          <td>{{ props.item.sex }}</td>
          <td>{{ props.item.joinDate }}</td>
          <td class="justify-center layout px-0" v-if="currentTab === 'tab-Aktif'">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="deleteItem(props.item)">delete</v-icon>
          </td>
          <td v-else></td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data: () => ({
    currentTab: "tab-Aktif",
    tabs: ["Aktif", "Non-Aktif"],
    e1: 0,
    sexes: ["L", "P"],
    search: "",
    files: new FormData(),
    loading: false,
    excelFileName: "",
    joinDateMenu: false,
    employeeDialog: false,
    importEmployeeDialog: false,
    headers: [
      {
        text: "ID",
        align: "left",
        value: "id"
      },
      {
        text: "Nama",
        value: "name",
        align: "left"
      },
      { text: "Title", value: "title", align: "left" },
      { text: "Departmen", value: "department", align: "left" },
      { text: "Jenis Kelamin", value: "sex", align: "left" },
      { text: "Tanggal Masuk", value: "joinDate", align: "left" },
      { text: "", value: "action", sortable: false }
    ],
    filters: {
      sex: [],
      department: [],
      title: [],
      status: ["Aktif"]
    },
    editedIndex: -1,
    editedItem: {
      Id: "",
      Name: "",
      Title: "",
      Department: "",
      Sex: "",
      JoinDate: "",
      Status: "Aktif"
    },
    defaultItem: {
      Id: "",
      Name: "",
      Title: "",
      Department: "",
      Sex: "",
      JoinDate: "",
      Status: "Aktif"
    }
  }),

  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  mounted() {
    this.loading = true;
    this.$store.dispatch("employees/queryItems").then(result => {
      this.loading = false;
    });
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Tambah Karyawan" : "Ubah Karyawan";
    },
    pagination: {
      get: function() {
        return this.$store.getters["employees/pagination"];
      },
      set: function(value) {
        this.$store.commit("employees/setPagination", value);
      }
    },
    filteredEmployees() {
      return this.$store.getters["employees/items"].filter(d => {
        return Object.keys(this.filters).every(f => {
          return this.filters[f].length < 1 || this.filters[f].includes(d[f]);
        });
      });
    }
  },

  methods: {
    toggleAll() {
      if (this.selected.length) this.selected = [];
      else this.selected = this.employees.slice();
    },
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
      } else {
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
    columnValueList(val) {
      return this.$store.getters["employees/items"].map(d => d[val]);
    },
    editItem(item) {
      this.editedIndex = this.employees.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.employeeDialog = true;
    },

    deleteItem(item) {
      if (confirm("Are you sure you want to delete this item?")) {
        item.Status = "Non-Aktif";
      }
    },

    close() {
      this.employeeDialog = false;
      this.e1 = 1;

      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.employees[this.editedIndex], this.editedItem);
      } else {
        this.employees.push(this.editedItem);
      }
      this.close();
    },

    pickFile() {
      this.$refs.excel.click();
    },

    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.excelFileName = files[0].name;
        if (this.excelFileName.lastIndexOf(".") <= 0) {
          return;
        }

        this.files.append("files", files[0], this.excelFileName);
      } else {
        this.excelFileName = "";
      }
    },

    startUpload() {
      console.log(this.files);
      axios
        .post(`/api/Employee/upload`, this.files, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          alert(`Total Mock File Uploaded: ${response.data}`);
        })
        .catch(error => {
          alert(`something went wrong: ${error}`);
        });
    }
  }
};
</script>
