<template>
  <v-data-table :headers="headers" :items="holidays" class="elevation-1">
    <template v-slot:items="props">
      <td>{{ props.item.date }}</td>
      <td>{{ props.item.details }}</td>
    </template>
  </v-data-table>
</template>
<script>
export default {
  data() {
    return {
      headers: [
        {
          text: "Tanggal",
          align: "left",
          value: "date"
        },
        { text: "Keterangan", value: "detail" }
      ]
    };
  },
  props: ["holidays"]
};
</script>