<template>
  <div>
    <v-data-table :headers="headers" :items="leaves" class="elevation-1">
      <template v-slot:items="props">
        <tr @click="editItem(props.item)">
          <td>{{ props.item.Id }}</td>
          <td>{{ props.item.Name }}</td>
          <td>{{ props.item.ProvidedLeave }}</td>
          <td>{{ props.item.leaves.filter(leave => (new Date(leave.date)).getMonth() == 0).length }}</td>
          <td>{{ props.item.leaves.filter(leave => (new Date(leave.date)).getMonth() == 1).length }}</td>
          <td>{{ props.item.leaves.filter(leave => (new Date(leave.date)).getMonth() == 2).length }}</td>
          <td>{{ props.item.leaves.filter(leave => (new Date(leave.date)).getMonth() == 3).length }}</td>
          <td>{{ props.item.leaves.filter(leave => (new Date(leave.date)).getMonth() == 4).length }}</td>
          <td>{{ props.item.leaves.filter(leave => (new Date(leave.date)).getMonth() == 5).length }}</td>
          <td>{{ props.item.leaves.filter(leave => (new Date(leave.date)).getMonth() == 6).length }}</td>
          <td>{{ props.item.leaves.filter(leave => (new Date(leave.date)).getMonth() == 7).length }}</td>
          <td>{{ props.item.leaves.filter(leave => (new Date(leave.date)).getMonth() == 8).length }}</td>
          <td>{{ props.item.leaves.filter(leave => (new Date(leave.date)).getMonth() == 9).length }}</td>
          <td>{{ props.item.leaves.filter(leave => (new Date(leave.date)).getMonth() == 10).length }}</td>
          <td>{{ props.item.leaves.filter(leave => (new Date(leave.date)).getMonth() == 11).length }}</td>
          <td>{{ props.item.ProvidedLeave - props.item.leaves.length }}</td>
        </tr>
      </template>
    </v-data-table>
    <v-dialog v-model="employeeDialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Jatah Cuti Tahunan</span>
        </v-card-title>
        <v-card-text>
          <v-text-field label="Id Karyawan" v-model="editedItem.Id" disabled="disabled"></v-text-field>
          <v-text-field label="Nama Karyawan" v-model="editedItem.Name" disabled="disabled"></v-text-field>
          <v-text-field label="Jatah Cuti" v-model="editedItem.ProvidedLeave"></v-text-field>
        </v-card-text>
        <v-card-actions style="padding-bottom: 15px">
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="close">Batal</v-btn>
          <v-btn color="blue darken-1" @click="save">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  data() {
    return {
      employeeDialog: false,
      editedIndex: -1,
      editedItem: {},
      headers: [
        {
          text: "Id Karyawan",
          align: "left",
          value: "Id"
        },
        { text: "Nama Karyawan", value: "Name" },
        { text: "A/l", value: "ProvidedLeave" },
        { text: "Januari" },
        { text: "Februari" },
        { text: "Maret" },
        { text: "April" },
        { text: "Mei" },
        { text: "Juni" },
        { text: "Juli" },
        { text: "Agustus" },
        { text: "September" },
        { text: "Oktober" },
        { text: "November" },
        { text: "Desember" },
        { text: "Sisa A/l" }
      ]
    };
  },
  props: ["leaves"],
  methods: {
    editItem(item) {
      this.editedIndex = this.leaves.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.employeeDialog = true;
    },

    close() {
      this.employeeDialog = false;

      setTimeout(() => {
        this.editedItem = {};
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.leaves[this.editedIndex], this.editedItem);
      } else {
        this.leaves.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>