<template>
  <div style="margin: 10px">
    <v-toolbar flat color="blue lighten-2" light tabs>
      <v-toolbar-title>Data Kehadiran</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn flat v-on="on">
            <v-icon>keyboard_arrow_left</v-icon>
          </v-btn>
        </template>
        <span>Bulan Sebelumnya</span>
      </v-tooltip>
      <h2>{{monthYearString()}}</h2>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn flat v-on="on">
            <v-icon>keyboard_arrow_right</v-icon>
          </v-btn>
        </template>
        <span>Bulan Selanjutnya</span>
      </v-tooltip>
      <v-spacer></v-spacer>
      <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="employees"
      :pagination.sync="pagination"
      :search="search"
      :expand="expand"
      item-key="Name"
      class="elevation-1"
    >
      <template slot="headers" slot-scope="props">
        <tr>
          <th
            v-for="header in props.headers"
            :key="header.text"
            :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
            @click="changeSort(header.value)"
          >
            <v-icon small>arrow_upward</v-icon>
            {{ header.text }}
          </th>
        </tr>
      </template>
      <template v-slot:items="props">
        <tr @click="props.expanded = !props.expanded">
          <td>{{ props.item.Id }}</td>
          <td style="min-width: 250px">{{ props.item.Name }}</td>
          <td class="text-xs-center">{{ props.item.Department }}</td>
          <td class="text-xs-center">{{ props.item.Salary }}</td>
        </tr>
      </template>
      <template v-slot:expand="props">
        <v-card flat>
          <v-card-text v-for="event in props.item.events"><b>{{event.type}}</b>({{event.start}}) - {{event.description}}</v-card-text>
        </v-card>
      </template>
    </v-data-table>
  </div>
</template>
<script>
function today() {
  const today = new Date();
  const dd = String(today.getDate()).padStart(2, '0');
  const mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  const yyyy = today.getFullYear();

  return yyyy + '-' + mm + '-' + dd;
}
export default {
  data: () => ({
    sliders: [0, 1, 2, 3, 4, 5,],
    search: '',
    expand: false,
    start: today(),
    pagination: {
      sortBy: 'Name'
    },
    headers: [
      {
        text: 'ID',
        align: 'left',
        value: 'Id',
      },
      {
        text: 'Nama',
        value: 'Name',
        align: 'left',
      },
      { text: 'Departemen', value: 'Department', align: 'left', },
      { text: 'Gaji (Rp.)', value: 'Salary', align: 'left', },
    ],
    employees: [
      {
        Id: 'IDC020101',
        Name: 'Karyawan 1',
        Department: 'Line I',
        Salary: 5000000,
        events: [
          {type:'a/l', start:'2019-04-01', end: '', description: 'acara sekolah anak',},
          {type:'a/l', start:'2019-04-05', end: '', description: 'jumat ceria',},
        ],
      },
      {
        Id: 'IDC020102',
        Name: 'Karyawan 2',
        Department: 'Line I',
        Salary: 3000000,
        events: [
          {
            type: 'alpha',
            start: '2019-04-08',
            end: '',
            description: 'besoknya baru ketauan dia ketiduran ampe siang',
          },
        ],
      },
    ],
  }),

  watch: {
    dialog(val) {
      // val || this.close();
    },
  },
  methods: {
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
      } else {
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
    monthYearString() {
      const months = [
        'Januari',
        'Februari',
        'Maret',
        'April',
        'Mei',
        'Juni',
        'Juli',
        'Agustus',
        'September',
        'Oktober',
        'November',
        'Desember',
      ];
      const date = new Date(this.start);
      return months[date.getMonth()] + ' ' + date.getFullYear();
    },
  },
};
</script>
